@page "/login"
@attribute [AllowAnonymous]
<h3>Login</h3>

<EditForm Model="Form" OnValidSubmit="SubmitLogin">
    <DataAnnotationsValidator />
    <p>
        Email : <InputText type="email" class="form-control" @bind-Value="Form.Email" />
    </p>
    <p>
        Password : <InputText type="password" class="form-control" @bind-Value="Form.Password" />
        </p>
        <button type="submit" class="btn">Valider</button>

    <ValidationSummary />
</EditForm>