<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DemoWASM</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Demo 1 - Razor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Demo 2 - LifeCycle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo3">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Demo 3 - Virtualize
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo4">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Demo 4 - JS Runtime
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo5">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Demo 5 - Form
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exo1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Quizz
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movielist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Movies
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
